<nav>
	<ul class="nav">
		<li class="logo">🎴 Kata Archive Books ✿</li>

		<li id="link-accueil" data-url="{{ path('homepage') }}">Home</li>
		<li id="link-login" data-url="{{ path('app_login') }}">Login</li>
		<li id="link-admin" data-url="{{ path('admin') }}">Admin</li>

	</ul>
</nav>
